* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(248, 249, 250);
}

p {
  font-size: 20px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(248, 249, 250);
}

.titulo {
  background-image: linear-gradient(to right, #606c88, #3f4c6b);
}
.titulo H1 {
  color: white;
}

header {
  display: grid;
  grid-template-areas: "barraSup barraSup" "logo nav";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}

.barraSuperior {
  grid-area: barraSup;
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: nav;
}

.boton {
  background-color: rgb(211, 16, 16);
  border-color: black;
  box-shadow: 4px -5px 9px -3px #181C18;
}

.boton:hover {
  background-color: rgb(160, 62, 62);
}

.barraSuperior {
  grid-area: barraSup;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black;
  padding-top: 5px;
}
.barraSuperior h3 {
  font-size: 25px;
}

.logo {
  grid-area: logo;
  background-color: rgb(248, 249, 250);
  padding: 5px;
}

/*  ---- MENU ----  */
.navbar {
  font-size: 25px;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background: #20ba5a;
}

.portada {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
.portada .portada__imagen {
  width: 100%;
}
.portada .portada2 {
  position: absolute;
  background-color: rgba(190, 197, 190, 0.605);
  text-align: center;
  font-weight: bold;
  padding: 2%;
}
.portada .portada2 .portada2__titulo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.expertos {
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5px;
  padding-right: 5px;
}
.expertos .expertos__titulo {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.expertos .expertos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  padding: 5% 1% 3%;
  height: auto;
}
.expertos .expertos2 .img-fluid {
  padding-left: 80px;
  padding-right: 80px;
}
.expertos .expertos2 .expertos2__subtitulo {
  text-align: center;
  font-size: 30px;
}

.nuestraApp2, .pieDePagina {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(150, 195, 236);
  padding: 5%;
}
.nuestraApp2 .nuestraApp2__titulo, .pieDePagina .nuestraApp2__titulo {
  text-align: center;
  font-size: 5em;
  width: 25%;
}
.nuestraApp2 .nuestraApp2__imagen, .pieDePagina .nuestraApp2__imagen {
  left: 65%;
  width: 18%;
}

.confian {
  position: relative;
}
.confian .confian__imagen {
  width: 100%;
}
.confian .confian2 {
  position: absolute;
  top: 10%;
  padding: 100px 60% 0px 10px;
  margin-left: 5%;
}
.confian .confian2 .confian2__titulo {
  font-size: 4rem;
  color: rgb(22, 66, 22);
  padding-bottom: 5%;
}

.pieDePagina {
  height: 5em;
  background-color: gray;
  position: relative;
  padding: 0;
}
.pieDePagina div {
  padding: 15px;
}

/* MEDIA QUERY */
.titulo {
  text-align: center;
  font-size: 30px;
  background-color: rgb(199, 199, 199);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nosotros {
  padding: 10% 15% 10% 15%;
  text-align: center;
}
.nosotros h3 {
  margin-bottom: 10px;
  font-size: 3em;
}

.titulo {
  text-align: center;
  font-size: 30px;
  background-color: rgb(199, 199, 199);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.servicios__titulo {
  font-size: 3em;
}

.servicios {
  padding: 1% 5%;
  text-align: center;
}
.servicios .servicios2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
}
.servicios .servicios2 div {
  width: 100%;
}
.servicios .servicios2 img {
  padding-left: 40px;
  padding-right: 40px;
}
.servicios .servicios2 .servicios2__subtitulo {
  margin-bottom: 10px;
  font-size: 2em;
  padding: 10px;
}

.titulo {
  text-align: center;
  font-size: 30px;
  background-color: rgb(199, 199, 199);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.boletines {
  padding: 1% 15% 1% 15%;
  text-align: center;
}
.boletines h3 {
  font-size: 3em;
}

.seccion-boletin {
  padding: 5%;
}
.seccion-boletin .seccion-boletin2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-bottom: 5%;
  text-align: center;
}
.seccion-boletin .seccion-boletin2 h3 {
  text-align: center;
}
.seccion-boletin .seccion-boletin2 img {
  max-width: 30%;
}

.titulo {
  text-align: center;
  font-size: 30px;
  background-color: rgb(199, 199, 199);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subTitulo {
  padding: 1% 15% 5% 15%;
  text-align: center;
}
.subTitulo h3 {
  margin-bottom: 10px;
  font-size: 3em;
}

.caja-formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(180, 207, 180);
}

.caja-formulario2 {
  padding: 5%;
  margin: 5px;
}
.caja-formulario2 input {
  display: block;
}
.caja-formulario2 form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
.caja-formulario2 form input {
  box-shadow: 4px -3px 9px -3px #181C18;
}
.caja-formulario2 form input[type=submit], .caja-formulario2 form input[type=button] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #0d7899;
}
.caja-formulario2 form input[type=submit]:hover, .caja-formulario2 form input[type=button]:hover {
  background-color: #76acbd;
  color: black;
}
.caja-formulario2 .caja-formulario2__imagen {
  width: 120%;
  height: auto;
}

.logo__imagen:hover {
  transform: translate(2px, 2px);
}

.nav-item:hover {
  background-color: rgb(206, 206, 206);
}

@keyframes un_efecto {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 26px;
  }
  100% {
    font-size: 25px;
  }
}
.barraSuperior h3 {
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s;
}

.portada2 {
  animation-delay: 1s;
}

/* MEDIA QUERY */
@media screen and (max-width: 600px) {
  /* Achica el logo */
  .logo {
    transform: scale(0.8, 0.8);
  }
  /* Header */
  header {
    display: grid;
    grid-template-areas: "barraSup barraSup" "logo logo" "nav nav";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  /* Barra superior */
  .barraSuperior h3 {
    font-size: 20px;
  }
  .logo {
    text-align: center;
  }
  div.container-fluid {
    justify-content: right !important;
  }
  /* Portada */
  .portada2__titulo {
    font-size: 20px;
  }
  .portada2 input {
    font-size: 15px;
    padding: 2% 3%;
  }
  /* ---- SECCION EXPERTOS  ---- */
  .expertos .expertos2 {
    flex-direction: column;
  }
  .expertos div {
    text-align: center;
  }
  .expertos .expertos__titulo {
    font-size: 25px;
  }
  .expertos .expertos2 .expertos2__subtitulo {
    font-size: 25px;
  }
  /*  ---- SECCION CONOCE NUESTRA APP ----  */
  .nuestraApp2 .nuestraApp2__imagen, .pieDePagina .nuestraApp2__imagen {
    width: 35%;
  }
  .nuestraApp2 .nuestraApp2__titulo, .pieDePagina .nuestraApp2__titulo {
    text-align: center;
    font-size: 2em;
    width: 25%;
  }
  /*  ---- SECCION CONFIAN EN NOSOTROS ----  */
  .confian .confian__imagen {
    width: 110%;
  }
  .confian .confian2 {
    top: 0;
    padding: 5% 50% 0px 10px;
    margin-left: 5%;
  }
  .confian .confian2 input {
    font-size: 15px;
    padding: 2% 3%;
  }
  .confian .confian2 .confian2__titulo {
    font-size: 2rem;
    padding-bottom: 2%;
  }
  /*  ---- PIE DE PAGINA ----  */
  .pieDePagina {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-top: 5%;
  }
  /* ---------------- PAGINA: SERVICIO ------------------ */
  .servicios__titulo {
    font-size: 2em;
  }
  .servicios .servicios2 {
    flex-direction: column;
    text-align: center;
  }
  .servicios .servicio2_texto {
    font-size: 17px;
  }
  /* -------- PAGINA: BOLETINES ----------- */
  .boletines h3 {
    font-size: 2em;
  }
  .seccion-boletin .seccion-boletin2 {
    flex-flow: column nowrap;
  }
  /* -------- PAGINA: CONTACTO ----------- */
  .subTitulo h3 {
    font-size: 2em;
  }
  .caja-formulario {
    flex-direction: column;
  }
  /* -------- BOTON WHATSAPP ----------- */
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}

/*# sourceMappingURL=style.css.map */
