



//PORTADA

.portada {
    
    @include flexbox-centrado;
    justify-content: center;

    .portada__imagen {width: 100%;}

    .portada2 {
        position: absolute;
        background-color: rgba(190, 197, 190, 0.605);
        text-align: center;
        font-weight: bold;
        padding: 2%;

        .portada2__titulo {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

// SECCION EXPERTOS

.expertos {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5px;
    padding-right: 5px;

    .expertos__titulo {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    .expertos2 {
        @include flexbox-centrado;
        justify-content: space-around;
        padding:5% 1% 3%;
        height: auto;

        .img-fluid {
            padding-left: 80px;
            padding-right: 80px;
        }

        .expertos2__subtitulo {
            text-align: center;
            font-size:30px ;
        }


        
    }
}

// ---- SECCION CONOCE NUESTRA APP ----

.nuestraApp2 {
    @include flexbox-centrado;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(150, 195, 236);
    padding: 5%;

    .nuestraApp2__titulo {
        text-align: center;
        font-size: 5em;
        width: 25%;
    }

    .nuestraApp2__imagen {
        left: 65%;    
        width: 18%;
    }
}

//  ---- SECCION CONFIAN EN NOSOTROS ----

.confian {
    position: relative; 

    .confian__imagen{width: 100%;}

    .confian2 {
        position: absolute;
        top: 10%;
        padding: 100px 60% 0px 10px;
        margin-left: 5%;

        .confian2__titulo {
            font-size: 4rem;
            color: rgb(22, 66, 22);
            padding-bottom: 5%;
        }
    }
}

//  ---- PIE DE PAGINA ----  */

.pieDePagina {
    @extend .nuestraApp2;
    height: 5em;
    background-color: gray;
    position: relative;
    padding: 0;

    div {padding: 15px;}
}

/* MEDIA QUERY */

@media screen and (max-width: 600px) {

}