// Barra superior

.barraSuperior {
    grid-area: barraSup;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    padding-top: 5px;
    
    h3 {
        font-size: 25px;
    }
}





